In [1]:
import pandas as pd 
import numpy as np 
import pickle

In [2]:
df=pd.read_csv("i1.csv")

In [3]:
df

,Unnamed: 0,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,runs_by_ball,score,wickets,total_score,momentum_score,momentum_wicket
0,0,335982,2007/08,4/18/2008,M Chinnaswamy Stadium,1,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,1,1,0,222,0,0
1,1,335982,2007/08,4/18/2008,M Chinnaswamy Stadium,1,0.2,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,0,222,0,0
2,2,335982,2007/08,4/18/2008,M Chinnaswamy Stadium,1,0.3,Kolkata Knight Riders,Royal Challengers Bangalore,1,2,0,222,0,0
3,3,335982,2007/08,4/18/2008,M Chinnaswamy Stadium,1,0.4,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,0,222,0,0
4,4,335982,2007/08,4/18/2008,M Chinnaswamy Stadium,1,0.5,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,0,222,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103294,199567,1254082,2021,4/29/2021,"Narendra Modi Stadium, Ahmedabad",1,19.2,Kolkata Knight Riders,Delhi Capitals,4,145,6,154,57,1
103295,199568,1254082,2021,4/29/2021,"Narendra Modi Stadium, Ahmedabad",1,19.3,Kolkata Knight Riders,Delhi Capitals,1,146,6,154,57,1
103296,199569,1254082,2021,4/29/2021,"Narendra Modi Stadium, Ahmedabad",1,19.4,Kolkata Knight Riders,Delhi Capitals,1,147,6,154,58,1
103297,199570,1254082,2021,4/29/2021,"Narendra Modi Stadium, Ahmedabad",1,19.5,Kolkata Knight Riders,Delhi Capitals,1,148,6,154,53,1
103298,199571,1254082,2021,4/29/2021,"Narendra Modi Stadium, Ahmedabad",1,19.6,Kolkata Knight Riders,Delhi Capitals,6,154,6,154,57,1

In [4]:
df

,Unnamed: 0,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,runs_by_ball,score,wickets,total_score,momentum_score,momentum_wicket
0,0,335982,2007/08,4/18/2008,M Chinnaswamy Stadium,1,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,1,1,0,222,0,0
1,1,335982,2007/08,4/18/2008,M Chinnaswamy Stadium,1,0.2,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,0,222,0,0
2,2,335982,2007/08,4/18/2008,M Chinnaswamy Stadium,1,0.3,Kolkata Knight Riders,Royal Challengers Bangalore,1,2,0,222,0,0
3,3,335982,2007/08,4/18/2008,M Chinnaswamy Stadium,1,0.4,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,0,222,0,0
4,4,335982,2007/08,4/18/2008,M Chinnaswamy Stadium,1,0.5,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,0,222,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103294,199567,1254082,2021,4/29/2021,"Narendra Modi Stadium, Ahmedabad",1,19.2,Kolkata Knight Riders,Delhi Capitals,4,145,6,154,57,1
103295,199568,1254082,2021,4/29/2021,"Narendra Modi Stadium, Ahmedabad",1,19.3,Kolkata Knight Riders,Delhi Capitals,1,146,6,154,57,1
103296,199569,1254082,2021,4/29/2021,"Narendra Modi Stadium, Ahmedabad",1,19.4,Kolkata Knight Riders,Delhi Capitals,1,147,6,154,58,1
103297,199570,1254082,2021,4/29/2021,"Narendra Modi Stadium, Ahmedabad",1,19.5,Kolkata Knight Riders,Delhi Capitals,1,148,6,154,53,1
103298,199571,1254082,2021,4/29/2021,"Narendra Modi Stadium, Ahmedabad",1,19.6,Kolkata Knight Riders,Delhi Capitals,6,154,6,154,57,1

In [5]:
columns_to_remove = ['match_id', 'runs_by_ball','Unnamed: 0' ]
df.drop(labels=columns_to_remove, axis=1, inplace=True)

In [6]:
df.drop('innings', axis=1, inplace=True)

In [7]:
df.drop('season', axis=1, inplace=True)

In [8]:
df

,start_date,venue,ball,batting_team,bowling_team,score,wickets,total_score,momentum_score,momentum_wicket
0,4/18/2008,M Chinnaswamy Stadium,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,222,0,0
1,4/18/2008,M Chinnaswamy Stadium,0.2,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,222,0,0
2,4/18/2008,M Chinnaswamy Stadium,0.3,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,222,0,0
3,4/18/2008,M Chinnaswamy Stadium,0.4,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,222,0,0
4,4/18/2008,M Chinnaswamy Stadium,0.5,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,222,0,0
...,...,...,...,...,...,...,...,...,...,...
103294,4/29/2021,"Narendra Modi Stadium, Ahmedabad",19.2,Kolkata Knight Riders,Delhi Capitals,145,6,154,57,1
103295,4/29/2021,"Narendra Modi Stadium, Ahmedabad",19.3,Kolkata Knight Riders,Delhi Capitals,146,6,154,57,1
103296,4/29/2021,"Narendra Modi Stadium, Ahmedabad",19.4,Kolkata Knight Riders,Delhi Capitals,147,6,154,58,1
103297,4/29/2021,"Narendra Modi Stadium, Ahmedabad",19.5,Kolkata Knight Riders,Delhi Capitals,148,6,154,53,1
103298,4/29/2021,"Narendra Modi Stadium, Ahmedabad",19.6,Kolkata Knight Riders,Delhi Capitals,154,6,154,57,1

In [9]:
df['batting_team'].unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Deccan Chargers', 'Mumbai Indians', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Daredevils',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Delhi Capitals', 'Punjab Kings'],
      dtype=object)

In [10]:
df['batting_team'] = df['batting_team'].replace(['Deccan Chargers'],'Sunrisers Hyderabad')

In [11]:
df['batting_team'] = df['batting_team'].replace(['Kings XI Punjab'],'Punjab Kings')

In [12]:
df['batting_team'] = df['batting_team'].replace(['Delhi Daredevils'],'Delhi Capitals')

In [13]:
df['bowling_team'] = df['bowling_team'].replace(['Deccan Chargers'],'Sunrisers Hyderabad')

In [14]:
df['bowling_team'] = df['bowling_team'].replace(['Kings XI Punjab'],'Punjab Kings')

In [15]:
df['bowling_team'] = df['bowling_team'].replace(['Delhi Daredevils'],'Delhi Capitals')

In [16]:
df['batting_team'].unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Sunrisers Hyderabad', 'Mumbai Indians', 'Punjab Kings',
       'Royal Challengers Bangalore', 'Delhi Capitals',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants',
       'Gujarat Lions', 'Rising Pune Supergiant'], dtype=object)

In [17]:
# Keeping only consistent teams
consistent_teams = ['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
                    'Mumbai Indians', 'Punjab Kings', 'Royal Challengers Bangalore',
                    'Delhi Capitals', 'Sunrisers Hyderabad']

In [18]:
df = df[(df['batting_team'].isin(consistent_teams)) & (df['bowling_team'].isin(consistent_teams))]

In [19]:
df['bowling_team'].unique()

array(['Royal Challengers Bangalore', 'Punjab Kings', 'Delhi Capitals',
       'Kolkata Knight Riders', 'Rajasthan Royals', 'Mumbai Indians',
       'Chennai Super Kings', 'Sunrisers Hyderabad'], dtype=object)

In [20]:
df.shape

(89229, 10)

In [21]:
# Removing the first 5 overs data in every match
df = df[df['ball']>=5.0]

In [22]:
# l1=df['ball'].tolist()

In [23]:
print(df['batting_team'].unique())
print(df['bowling_team'].unique())

['Kolkata Knight Riders' 'Chennai Super Kings' 'Rajasthan Royals'
 'Sunrisers Hyderabad' 'Mumbai Indians' 'Punjab Kings'
 'Royal Challengers Bangalore' 'Delhi Capitals']
['Royal Challengers Bangalore' 'Punjab Kings' 'Delhi Capitals'
 'Kolkata Knight Riders' 'Rajasthan Royals' 'Mumbai Indians'
 'Chennai Super Kings' 'Sunrisers Hyderabad']

In [24]:
import copy
# copy.copy(x)
df1=copy.deepcopy(df)

In [25]:
df1

,start_date,venue,ball,batting_team,bowling_team,score,wickets,total_score,momentum_score,momentum_wicket
32,4/18/2008,M Chinnaswamy Stadium,5.1,Kolkata Knight Riders,Royal Challengers Bangalore,61,0,222,59,0
33,4/18/2008,M Chinnaswamy Stadium,5.2,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,222,59,1
34,4/18/2008,M Chinnaswamy Stadium,5.3,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,222,59,1
35,4/18/2008,M Chinnaswamy Stadium,5.4,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,222,59,1
36,4/18/2008,M Chinnaswamy Stadium,5.5,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,222,58,1
...,...,...,...,...,...,...,...,...,...,...
103294,4/29/2021,"Narendra Modi Stadium, Ahmedabad",19.2,Kolkata Knight Riders,Delhi Capitals,145,6,154,57,1
103295,4/29/2021,"Narendra Modi Stadium, Ahmedabad",19.3,Kolkata Knight Riders,Delhi Capitals,146,6,154,57,1
103296,4/29/2021,"Narendra Modi Stadium, Ahmedabad",19.4,Kolkata Knight Riders,Delhi Capitals,147,6,154,58,1
103297,4/29/2021,"Narendra Modi Stadium, Ahmedabad",19.5,Kolkata Knight Riders,Delhi Capitals,148,6,154,53,1
103298,4/29/2021,"Narendra Modi Stadium, Ahmedabad",19.6,Kolkata Knight Riders,Delhi Capitals,154,6,154,57,1

In [26]:
from datetime import datetime
df['start_date'] = df['start_date'].apply(lambda x: datetime.strptime(x, '%m/%d/%Y'))

In [27]:
df

,start_date,venue,ball,batting_team,bowling_team,score,wickets,total_score,momentum_score,momentum_wicket
32,2008-04-18,M Chinnaswamy Stadium,5.1,Kolkata Knight Riders,Royal Challengers Bangalore,61,0,222,59,0
33,2008-04-18,M Chinnaswamy Stadium,5.2,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,222,59,1
34,2008-04-18,M Chinnaswamy Stadium,5.3,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,222,59,1
35,2008-04-18,M Chinnaswamy Stadium,5.4,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,222,59,1
36,2008-04-18,M Chinnaswamy Stadium,5.5,Kolkata Knight Riders,Royal Challengers Bangalore,61,1,222,58,1
...,...,...,...,...,...,...,...,...,...,...
103294,2021-04-29,"Narendra Modi Stadium, Ahmedabad",19.2,Kolkata Knight Riders,Delhi Capitals,145,6,154,57,1
103295,2021-04-29,"Narendra Modi Stadium, Ahmedabad",19.3,Kolkata Knight Riders,Delhi Capitals,146,6,154,57,1
103296,2021-04-29,"Narendra Modi Stadium, Ahmedabad",19.4,Kolkata Knight Riders,Delhi Capitals,147,6,154,58,1
103297,2021-04-29,"Narendra Modi Stadium, Ahmedabad",19.5,Kolkata Knight Riders,Delhi Capitals,148,6,154,53,1
103298,2021-04-29,"Narendra Modi Stadium, Ahmedabad",19.6,Kolkata Knight Riders,Delhi Capitals,154,6,154,57,1

In [28]:
ball=df['ball'].tolist()
ball

[5.1,
 5.2,
 5.3,
 5.4,
 5.5,
 5.6,
 6.1,
 6.2,
 6.3,
 6.4,
 6.5,
 6.6,
 7.1,
 7.2,
 7.3,
 7.4,
 7.5,
 7.6,
 8.1,
 8.2,
 8.3,
 8.4,
 8.5,
 8.6,
 9.1,
 9.2,
 9.3,
 9.4,
 9.5,
 9.6,
 10.1,
 10.2,
 10.3,
 10.4,
 10.5,
 10.6,
 11.1,
 11.2,
 11.3,
 11.4,
 11.5,
 11.6,
 12.1,
 12.2,
 12.3,
 12.4,
 12.5,
 12.6,
 12.7,
 13.1,
 13.2,
 13.3,
 13.4,
 13.5,
 13.6,
 14.1,
 14.2,
 14.3,
 14.4,
 14.5,
 14.6,
 14.7,
 15.1,
 15.2,
 15.3,
 15.4,
 15.5,
 15.6,
 16.1,
 16.2,
 16.3,
 16.4,
 16.5,
 16.6,
 17.1,
 17.2,
 17.3,
 17.4,
 17.5,
 17.6,
 18.1,
 18.2,
 18.3,
 18.4,
 18.5,
 18.6,
 19.1,
 19.2,
 19.3,
 19.4,
 19.5,
 19.6,
 5.1,
 5.2,
 5.3,
 5.4,
 5.5,
 5.6,
 6.1,
 6.2,
 6.3,
 6.4,
 6.5,
 6.6,
 7.1,
 7.2,
 7.3,
 7.4,
 7.5,
 7.6,
 8.1,
 8.2,
 8.3,
 8.4,
 8.5,
 8.6,
 9.1,
 9.2,
 9.3,
 9.4,
 9.5,
 9.6,
 10.1,
 10.2,
 10.3,
 10.4,
 10.5,
 10.6,
 11.1,
 11.2,
 11.3,
 11.4,
 11.5,
 11.6,
 12.1,
 12.2,
 12.3,
 12.4,
 12.5,
 12.6,
 12.7,
 12.8,
 13.1,
 13.2,
 13.3,
 13.4,
 13.5,
 13.6,
 14.1,
 14.2,
 14.3,
 14.4,
 14.5,
 14.6,
 15.1,
 15.2,
 15.3,
 15.4,
 15.5,
 15.6,
 16.1,
 16.2,
 16.3,
 16.4,
 16.5,
 16.6,
 17.1,
 17.2,
 17.3,
 17.4,
 17.5,
 17.6,
 18.1,
 18.2,
 18.3,
 18.4,
 18.5,
 18.6,
 19.1,
 19.2,
 19.3,
 19.4,
 19.5,
 19.6,
 5.1,
 5.2,
 5.3,
 5.4,
 5.5,
 5.6,
 6.1,
 6.2,
 6.3,
 6.4,
 6.5,
 6.6,
 7.1,
 7.2,
 7.3,
 7.4,
 7.5,
 7.6,
 8.1,
 8.2,
 8.3,
 8.4,
 8.5,
 8.6,
 9.1,
 9.2,
 9.3,
 9.4,
 9.5,
 9.6,
 10.1,
 10.2,
 10.3,
 10.4,
 10.5,
 10.6,
 11.1,
 11.2,
 11.3,
 11.4,
 11.5,
 11.6,
 12.1,
 12.2,
 12.3,
 12.4,
 12.5,
 12.6,
 12.7,
 13.1,
 13.2,
 13.3,
 13.4,
 13.5,
 13.6,
 14.1,
 14.2,
 14.3,
 14.4,
 14.5,
 14.6,
 15.1,
 15.2,
 15.3,
 15.4,
 15.5,
 15.6,
 16.1,
 16.2,
 16.3,
 16.4,
 16.5,
 16.6,
 17.1,
 17.2,
 17.3,
 17.4,
 17.5,
 17.6,
 18.1,
 18.2,
 18.3,
 18.4,
 18.5,
 18.6,
 19.1,
 19.2,
 19.3,
 19.4,
 19.5,
 19.6,
 5.1,
 5.2,
 5.3,
 5.4,
 5.5,
 5.6,
 6.1,
 6.2,
 6.3,
 6.4,
 6.5,
 6.6,
 7.1,
 7.2,
 7.3,
 7.4,
 7.5,
 7.6,
 7.7,
 8.1,
 8.2,
 8.3,
 8.4,
 8.5,
 8.6,
 9.1,
 9.2,
 9.3,
 9.4,
 9.5,
 9.6,
 10.1,
 10.2,
 10.3,
 10.4,
 10.5,
 10.6,
 11.1,
 11.2,
 11.3,
 11.4,
 11.5,
 11.6,
 12.1,
 12.2,
 12.3,
 12.4,
 12.5,
 12.6,
 13.1,
 13.2,
 13.3,
 13.4,
 13.5,
 13.6,
 14.1,
 14.2,
 14.3,
 14.4,
 14.5,
 14.6,
 15.1,
 15.2,
 15.3,
 15.4,
 15.5,
 15.6,
 15.7,
 16.1,
 16.2,
 16.3,
 16.4,
 16.5,
 16.6,
 16.7,
 17.1,
 17.2,
 17.3,
 17.4,
 17.5,
 17.6,
 18.1,
 18.2,
 18.3,
 18.4,
 5.1,
 5.2,
 5.3,
 5.4,
 5.5,
 5.6,
 6.1,
 6.2,
 6.3,
 6.4,
 6.5,
 6.6,
 7.1,
 7.2,
 7.3,
 7.4,
 7.5,
 7.6,
 8.1,
 8.2,
 8.3,
 8.4,
 8.5,
 8.6,
 9.1,
 9.2,
 9.3,
 9.4,
 9.5,
 9.6,
 10.1,
 10.2,
 10.3,
 10.4,
 10.5,
 10.6,
 11.1,
 11.2,
 11.3,
 11.4,
 11.5,
 11.6,
 12.1,
 12.2,
 12.3,
 12.4,
 12.5,
 12.6,
 13.1,
 13.2,
 13.3,
 13.4,
 13.5,
 13.6,
 14.1,
 14.2,
 14.3,
 14.4,
 14.5,
 14.6,
 15.1,
 15.2,
 15.3,
 15.4,
 15.5,
 15.6,
 15.7,
 16.1,
 16.2,
 16.3,
 16.4,
 16.5,
 16.6,
 17.1,
 17.2,
 17.3,
 17.4,
 17.5,
 17.6,
 18.1,
 18.2,
 18.3,
 18.4,
 18.5,
 18.6,
 19.1,
 19.2,
 19.3,
 19.4,
 19.5,
 19.6,
 5.1,
 5.2,
 5.3,
 5.4,
 5.5,
 5.6,
 6.1,
 6.2,
 6.3,
 6.4,
 6.5,
 6.6,
 7.1,
 7.2,
 7.3,
 7.4,
 7.5,
 7.6,
 7.7,
 8.1,
 8.2,
 8.3,
 8.4,
 8.5,
 8.6,
 9.1,
 9.2,
 9.3,
 9.4,
 9.5,
 9.6,
 10.1,
 10.2,
 10.3,
 10.4,
 10.5,
 10.6,
 11.1,
 11.2,
 11.3,
 11.4,
 11.5,
 11.6,
 12.1,
 12.2,
 12.3,
 12.4,
 12.5,
 12.6,
 13.1,
 13.2,
 13.3,
 13.4,
 13.5,
 13.6,
 14.1,
 14.2,
 14.3,
 14.4,
 14.5,
 14.6,
 15.1,
 15.2,
 15.3,
 15.4,
 15.5,
 15.6,
 16.1,
 16.2,
 16.3,
 16.4,
 16.5,
 16.6,
 17.1,
 17.2,
 17.3,
 17.4,
 17.5,
 17.6,
 18.1,
 18.2,
 18.3,
 18.4,
 18.5,
 18.6,
 19.1,
 19.2,
 19.3,
 19.4,
 19.5,
 19.6,
 19.7,
 5.1,
 5.2,
 5.3,
 5.4,
 5.5,
 5.6,
 6.1,
 6.2,
 6.3,
 6.4,
 6.5,
 6.6,
 7.1,
 7.2,
 7.3,
 7.4,
 7.5,
 7.6,
 8.1,
 8.2,
 8.3,
 8.4,
 8.5,
 8.6,
 9.1,
 9.2,
 9.3,
 9.4,
 9.5,
 9.6,
 9.7,
 10.1,
 10.2,
 10.3,
 10.4,
 10.5,
 10.6,
 11.1,
 11.2,
 11.3,
 11.4,
 11.5,
 11.6,
 12.1,
 12.2,
 12.3,
 12.4,
 12.5,
 12.6,
 13.1,
 13.2,
 13.3,
 13.4,
 13.5,
 13.6,
 14.1,
 14.2,
 14.3,
 14.4,
 14.5,
 14.6,
 15.1,
 15.2,
 15.3,
 15.4,
 15.5,
 15.6,
 16.1,
 16.2,
 16.3,
 16.4,
 16.5,
 16.6,
 17.1,
 17.2,
 17.3,
 17.4,
 17.5,
 17.6,
 18.1,
 18.2,
 18.3,
 18.4,
 18.5,
 18.6,
 19.1,
 19.2,
 19.3,
 19.4,
 19.5,
 19.6,
 19.7,
 5.1,
 5.2,
 5.3,
 5.4,
 5.5,
 5.6,
 5.7,
 5.8,
 6.1,
 6.2,
 6.3,
 6.4,
 6.5,
 6.6,
 6.7,
 7.1,
 7.2,
 7.3,
 7.4,
 7.5,
 7.6,
 8.1,
 8.2,
 8.3,
 8.4,
 8.5,
 8.6,
 9.1,
 9.2,
 9.3,
 9.4,
 9.5,
 9.6,
 10.1,
 10.2,
 10.3,
 10.4,
 10.5,
 10.6,
 11.1,
 11.2,
 11.3,
 11.4,
 11.5,
 11.6,
 11.7,
 12.1,
 12.2,
 12.3,
 12.4,
 12.5,
 12.6,
 13.1,
 13.2,
 13.3,
 13.4,
 13.5,
 13.6,
 14.1,
 14.2,
 14.3,
 14.4,
 14.5,
 14.6,
 15.1,
 15.2,
 15.3,
 15.4,
 15.5,
 15.6,
 15.7,
 16.1,
 16.2,
 16.3,
 16.4,
 16.5,
 16.6,
 17.1,
 17.2,
 17.3,
 17.4,
 17.5,
 17.6,
 18.1,
 18.2,
 18.3,
 18.4,
 18.5,
 18.6,
 18.7,
 19.1,
 19.2,
 19.3,
 19.4,
 19.5,
 19.6,
 5.1,
 5.2,
 5.3,
 5.4,
 5.5,
 5.6,
 5.7,
 6.1,
 6.2,
 6.3,
 6.4,
 6.5,
 6.6,
 7.1,
 7.2,
 7.3,
 7.4,
 7.5,
 7.6,
 8.1,
 8.2,
 8.3,
 8.4,
 8.5,
 8.6,
 9.1,
 9.2,
 9.3,
 9.4,
 9.5,
 9.6,
 10.1,
 10.2,
 10.3,
 10.4,
 10.5,
 10.6,
 10.7,
 11.1,
 11.2,
 11.3,
 11.4,
 11.5,
 11.6,
 12.1,
 12.2,
 12.3,
 12.4,
 12.5,
 12.6,
 13.1,
 13.2,
 13.3,
 13.4,
 13.5,
 13.6,
 14.1,
 14.2,
 14.3,
 14.4,
 14.5,
 14.6,
 14.7,
 15.1,
 15.2,
 15.3,
 15.4,
 15.5,
 15.6,
 16.1,
 16.2,
 16.3,
 16.4,
 16.5,
 16.6,
 17.1,
 17.2,
 17.3,
 17.4,
 17.5,
 17.6,
 18.1,
 18.2,
 18.3,
 18.4,
 18.5,
 18.6,
 18.7,
 18.8,
 19.1,
 19.2,
 19.3,
 19.4,
 19.5,
 19.6,
 19.7,
 5.1,
 5.2,
 5.3,
 5.4,
 5.5,
 5.6,
 5.7,
 6.1,
 6.2,
 6.3,
 6.4,
 6.5,
 6.6,
 7.1,
 7.2,
 7.3,
 7.4,
 7.5,
 7.6,
 8.1,
 8.2,
 8.3,
 8.4,
 8.5,
 8.6,
 9.1,
 9.2,
 9.3,
 9.4,
 9.5,
 9.6,
 10.1,
 10.2,
 10.3,
 10.4,
 10.5,
 10.6,
 11.1,
 11.2,
 11.3,
 11.4,
 11.5,
 11.6,
 12.1,
 12.2,
 12.3,
 12.4,
 12.5,
 12.6,
 13.1,
 13.2,
 13.3,
 13.4,
 13.5,
 13.6,
 14.1,
 14.2,
 14.3,
 14.4,
 14.5,
 14.6,
 15.1,
 15.2,
 15.3,
 15.4,
 15.5,
 15.6,
 16.1,
 16.2,
 16.3,
 16.4,
 16.5,
 16.6,
 17.1,
 17.2,
 17.3,
 17.4,
 17.5,
 17.6,
 17.7,
 18.1,
 18.2,
 18.3,
 18.4,
 18.5,
 18.6,
 18.7,
 19.1,
 19.2,
 19.3,
 19.4,
 19.5,
 19.6,
 5.1,
 5.2,
 5.3,
 5.4,
 5.5,
 5.6,
 6.1,
 6.2,
 6.3,
 6.4,
 6.5,
 6.6,
 6.7,
 7.1,
 7.2,
 7.3,
 7.4,
 7.5,
 7.6,
 8.1,
 8.2,
 8.3,
 8.4,
 8.5,
 8.6,
 8.7,
 9.1,
 9.2,
 9.3,
 9.4,
 9.5,
 9.6,
 10.1,
 10.2,
 10.3,
 10.4,
 10.5,
 10.6,
 11.1,
 11.2,
 11.3,
 11.4,
 11.5,
 11.6,
 12.1,
 12.2,
 12.3,
 12.4,
 12.5,
 12.6,
 13.1,
 13.2,
 13.3,
 13.4,
 13.5,
 13.6,
 14.1,
 14.2,
 14.3,
 14.4,
 14.5,
 14.6,
 15.1,
 15.2,
 15.3,
 15.4,
 15.5,
 15.6,
 15.7,
 16.1,
 16.2,
 16.3,
 16.4,
 16.5,
 16.6,
 16.7,
 17.1,
 17.2,
 17.3,
 17.4,
 ...]

In [29]:
df1.shape

(66550, 10)

In [30]:
# --- Data Preprocessing ---
# Converting categorical features using OneHotEncoding method
encoded_df = pd.get_dummies(data=df, columns=['batting_team', 'bowling_team'])

In [31]:
l=[]
for col in encoded_df.columns:
    l.append(col)

In [32]:
l

['start_date',
 'venue',
 'ball',
 'score',
 'wickets',
 'total_score',
 'momentum_score',
 'momentum_wicket',
 'batting_team_Chennai Super Kings',
 'batting_team_Delhi Capitals',
 'batting_team_Kolkata Knight Riders',
 'batting_team_Mumbai Indians',
 'batting_team_Punjab Kings',
 'batting_team_Rajasthan Royals',
 'batting_team_Royal Challengers Bangalore',
 'batting_team_Sunrisers Hyderabad',
 'bowling_team_Chennai Super Kings',
 'bowling_team_Delhi Capitals',
 'bowling_team_Kolkata Knight Riders',
 'bowling_team_Mumbai Indians',
 'bowling_team_Punjab Kings',
 'bowling_team_Rajasthan Royals',
 'bowling_team_Royal Challengers Bangalore',
 'bowling_team_Sunrisers Hyderabad']

In [33]:
encoded_df = encoded_df[['start_date',
 'batting_team_Chennai Super Kings',
 'batting_team_Delhi Capitals',
 'batting_team_Kolkata Knight Riders',
 'batting_team_Mumbai Indians',
 'batting_team_Punjab Kings',
 'batting_team_Rajasthan Royals',
 'batting_team_Royal Challengers Bangalore',
 'batting_team_Sunrisers Hyderabad',
 'bowling_team_Chennai Super Kings',
 'bowling_team_Delhi Capitals',
 'bowling_team_Kolkata Knight Riders',
 'bowling_team_Mumbai Indians',
 'bowling_team_Punjab Kings',
 'bowling_team_Rajasthan Royals',
 'bowling_team_Royal Challengers Bangalore',
 'bowling_team_Sunrisers Hyderabad','venue',
 'ball',
 'score',
 'wickets',
 'momentum_score',
 'momentum_wicket','total_score']]

In [34]:
encoded_df.drop('venue', axis=True, inplace=True)

In [35]:
# encoded_df
encoded_df1 = encoded_df[encoded_df['start_date'].dt.year >= 2015]
encoded_df1

,start_date,batting_team_Chennai Super Kings,batting_team_Delhi Capitals,batting_team_Kolkata Knight Riders,batting_team_Mumbai Indians,batting_team_Punjab Kings,batting_team_Rajasthan Royals,batting_team_Royal Challengers Bangalore,batting_team_Sunrisers Hyderabad,bowling_team_Chennai Super Kings,...,bowling_team_Punjab Kings,bowling_team_Rajasthan Royals,bowling_team_Royal Challengers Bangalore,bowling_team_Sunrisers Hyderabad,ball,score,wickets,momentum_score,momentum_wicket,total_score
56256,2015-04-18,0,0,0,0,1,0,0,0,0,...,0,0,0,0,5.1,43,3,43,3,155
56257,2015-04-18,0,0,0,0,1,0,0,0,0,...,0,0,0,0,5.2,47,3,47,3,155
56258,2015-04-18,0,0,0,0,1,0,0,0,0,...,0,0,0,0,5.3,48,3,48,3,155
56259,2015-04-18,0,0,0,0,1,0,0,0,0,...,0,0,0,0,5.4,48,3,48,2,155
56260,2015-04-18,0,0,0,0,1,0,0,0,0,...,0,0,0,0,5.5,48,3,48,2,155
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103294,2021-04-29,0,0,1,0,0,0,0,0,0,...,0,0,0,0,19.2,145,6,57,1,154
103295,2021-04-29,0,0,1,0,0,0,0,0,0,...,0,0,0,0,19.3,146,6,57,1,154
103296,2021-04-29,0,0,1,0,0,0,0,0,0,...,0,0,0,0,19.4,147,6,58,1,154
103297,2021-04-29,0,0,1,0,0,0,0,0,0,...,0,0,0,0,19.5,148,6,53,1,154
103298,2021-04-29,0,0,1,0,0,0,0,0,0,...,0,0,0,0,19.6,154,6,57,1,154

In [36]:
# # Splitting the data into train and test set
# X_train = encoded_df.drop(labels='total_score', axis=1)[encoded_df['start_date'].dt.year <= 2018]
# X_test = encoded_df.drop(labels='total_score', axis=1)[encoded_df['start_date'].dt.year >= 2019]

In [37]:
X_train = encoded_df1.drop(labels='total_score', axis=1)[encoded_df1['start_date'].dt.year <= 2019]
X_test = encoded_df1.drop(labels='total_score', axis=1)[encoded_df1['start_date'].dt.year >= 2020]

In [38]:
# 
y_train = encoded_df1[encoded_df1['start_date'].dt.year <= 2019]['total_score'].values
y_test = encoded_df[encoded_df['start_date'].dt.year >= 2020]['total_score'].values

In [39]:
# y_train = encoded_df[encoded_df['start_date'].dt.year <= 2018]['total_score'].values
# y_test = encoded_df[encoded_df['start_date'].dt.year >= 2019]['total_score'].values

In [40]:
X_train.head()

,start_date,batting_team_Chennai Super Kings,batting_team_Delhi Capitals,batting_team_Kolkata Knight Riders,batting_team_Mumbai Indians,batting_team_Punjab Kings,batting_team_Rajasthan Royals,batting_team_Royal Challengers Bangalore,batting_team_Sunrisers Hyderabad,bowling_team_Chennai Super Kings,...,bowling_team_Mumbai Indians,bowling_team_Punjab Kings,bowling_team_Rajasthan Royals,bowling_team_Royal Challengers Bangalore,bowling_team_Sunrisers Hyderabad,ball,score,wickets,momentum_score,momentum_wicket
56256,2015-04-18,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,5.1,43,3,43,3
56257,2015-04-18,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,5.2,47,3,47,3
56258,2015-04-18,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,5.3,48,3,48,3
56259,2015-04-18,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,5.4,48,3,48,2
56260,2015-04-18,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,5.5,48,3,48,2

In [41]:
y_train

array([155, 155, 155, ..., 149, 149, 149], dtype=int64)

In [42]:
# Removing the 'date' column
X_train.drop(labels='start_date', axis=True, inplace=True)
X_test.drop(labels='start_date', axis=True, inplace=True)

In [43]:
X_train.tail()

,batting_team_Chennai Super Kings,batting_team_Delhi Capitals,batting_team_Kolkata Knight Riders,batting_team_Mumbai Indians,batting_team_Punjab Kings,batting_team_Rajasthan Royals,batting_team_Royal Challengers Bangalore,batting_team_Sunrisers Hyderabad,bowling_team_Chennai Super Kings,bowling_team_Delhi Capitals,...,bowling_team_Mumbai Indians,bowling_team_Punjab Kings,bowling_team_Rajasthan Royals,bowling_team_Royal Challengers Bangalore,bowling_team_Sunrisers Hyderabad,ball,score,wickets,momentum_score,momentum_wicket
92721,0,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,19.2,140,7,40,3
92722,0,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,19.3,140,7,39,3
92723,0,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,19.4,141,8,40,3
92724,0,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,19.5,145,8,44,3
92725,0,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,19.6,149,8,47,3

In [44]:
# --- Model Building ---
# Linear Regression Model
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train,y_train)

LinearRegression()

In [45]:
# Creating a pickle file for the classifier
filename = 'first-innings-score-lr-model.pkl'
pickle.dump(regressor, open(filename, 'wb'))

In [46]:
import pickle

#
# Create your model here (same as above)
#

# Save to file in the current working directory
pkl_filename = 'first-innings-score-lr-model.pkl'
with open(pkl_filename, 'wb') as file:
    pickle.dump(regressor, file)

# Load from file
with open(pkl_filename, 'rb') as file:
    pickle_model = pickle.load(file)
    
# Calculate the accuracy score and predict target values
score = pickle_model.score(X_test, y_test)
print("Test score: {0:.2f} %".format(100 * score))
Ypredict = pickle_model.predict(X_test)

Test score: 66.45 %

In [47]:
import pickle

# Load from file
with open(pkl_filename, 'rb') as file:
    pickle_model = pickle.load(file)
    
# Calculate the accuracy score and predict target values
score = pickle_model.score(X_test, y_test)
print("Test score: {0:.2f} %".format(100 * score))
Ypredict = pickle_model.predict(X_test)

Test score: 66.45 %

In [48]:
Ypredict

array([170.10416471, 169.93169704, 170.98110431, ..., 157.43414061,
       158.44578195, 163.37186793])

In [49]:
y_test

array([162, 162, 162, ..., 154, 154, 154], dtype=int64)

In [50]:
#####################################################################################################

In [63]:
filename = 'first-innings-score-lr-model.pkl'
regressor = pickle.load(open(filename, 'rb'))
temp_array = list()
temp_array = temp_array + [0,0,0,0,1,0,0,0,  0,0,0,0,0,0,1,0]
temp_array = temp_array + [6.0,56,4,46,2]
data = np.array([temp_array])
my_prediction = int(regressor.predict(data)[0])
my_prediction

162

In [52]:
X_test

,batting_team_Chennai Super Kings,batting_team_Delhi Capitals,batting_team_Kolkata Knight Riders,batting_team_Mumbai Indians,batting_team_Punjab Kings,batting_team_Rajasthan Royals,batting_team_Royal Challengers Bangalore,batting_team_Sunrisers Hyderabad,bowling_team_Chennai Super Kings,bowling_team_Delhi Capitals,...,bowling_team_Mumbai Indians,bowling_team_Punjab Kings,bowling_team_Rajasthan Royals,bowling_team_Royal Challengers Bangalore,bowling_team_Sunrisers Hyderabad,ball,score,wickets,momentum_score,momentum_wicket
92758,0,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,5.1,48,2,41,2
92759,0,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,5.2,48,2,37,2
92760,0,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,5.3,50,2,39,2
92761,0,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,5.4,50,2,38,2
92762,0,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,5.5,51,2,39,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103294,0,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,19.2,145,6,57,1
103295,0,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,19.3,146,6,57,1
103296,0,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,19.4,147,6,58,1
103297,0,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,19.5,148,6,53,1
103298,0,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,19.6,154,6,57,1

In [53]:
# svm

In [54]:
# ven=df['venue'].tolist()

In [55]:
# encoded_df.drop('venue', axis=True, inplace=True)